html{
background-image:url("background.jpg");
background-size:cover;
background-repeat:no-repeat;
padding:30px;
}

body{
background-color:#FFCC00;
font-family:Georgia, Verdana;
padding:30px;
}
p{
text-align:justify;
}

.header_img
{
    border: 5px solid #fff;
    border-radius: 5px;
}

.pyramid
{
    text-align: center;
}

.main_head{
background-color:#F0F0F0;
text-align:center;
color:#A4A400;
letter-spacing:2px;
}


#nav {
    float:left;
	margin-left:50px;
    padding:0px;	      
}

ul#menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
   
}
ul#menu li{
 display: inline;
 color:#F0F0F0;
}
figcaption{
text-align:center;
color:#000099;
}
ul#menu li a {
    background-color: #eddc97;
    color: #003366;
    padding: 6px;
    text-decoration: none;
	border-right-color:black;
	border-right-style:solid;
	border-right-width:15px;
	overflow:hidden;
	font-weight:bold;
}

ul#menu li a:hover {
    background-color: #F0F0F0;
}
ul {
    list-style-image: url("bullet.jpg");
    margin-right: 2em;
}
ul li {
    position: relative;
    right: 2em;
	}

.pimg{
height:150px;
width:150px;
margin-left:auto;
margin-right:auto;
}
.food_float{
float:right;
}

th {
    text-align: center;
	background-color:#003366;
	color:#FFFFFF;
	border:solid;
	border-color:#FFFFFF;
	border-width:2px;
	padding:5px;
	border-collapse:collapse;
}

td
{
	border:solid;
	border-color:#FFFFFF;
	border-width:2px;
	padding:5px;
	border-collapse:collapse;
}

table{
margin-left:auto;
margin-right:auto;
background-color:#CC9933;
color:#FFFFFF;
margin-top:20px;
width:45%;
border:solid 2px white;
border-collapse:collapse;
}


a:hover{
color:Red;
}

a.dish:hover{background-color:Black;}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 25%;
    
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 20%;
}

div.desc {
    padding: 15px;
    text-align: center;
    background: #fff;
}

.main_gallery
{
background-color:#FFCC00;
font-family:Georgia, Verdana;
padding:30px;
height: 300px;
}